body {
  background-color: beige;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: maroon;
  padding: 20px;
  color: beige;
}

#heading-header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 10px;
  padding: 10px;
}

.div-list-child {
  border: 2px solid black;
  border-radius: 30px;
  font-size: 0.75em;
  font-weight: 200;
  padding-left: 10px;
  padding-bottom: 10px;
}


img {
  margin: 20px;
  width: 35%;
  height: 35%;
}

ol li:last-child {
  font-weight: bold;
}

a {
  padding-left: 20px;
}

footer {
  text-align: center;
}
